/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*body {*/

/*}*/

/*p, label, input {*/
/*    @apply text-gray-700*/
/*}*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #374151;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: #60a5fa;
        --primary-hover: #3b82f6;
        --primary-foreground: #fafafa;
        --secondary: #2dd4bf;
        --secondary-hover: #14b8a6;
        --secondary-foreground:  #fafafa;
        --danger: #f87171;
        --danger-hover: #ef4444;
        --danger-foreground: #fafafa;
        --accent: #f3f4f6;
        --accent-foreground: #9aa1ac;
        --muted: #f0f2f4;
        --muted-foreground: #626773;
        /*--accent: 220 14.3% 95.9%;*/
        /*--accent-foreground: 220.9 39.3% 11%;*/
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 213, 94%, 68%;
        --radius: 0.5rem;
    }

    .dark {
        /*--background: #0F172A;*/
        --background: #030711;
        --foreground: #e5e7eb;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: #1e3a8a;
        --primary-hover: #172554;
        --primary-foreground: #e5e7eb;
        --secondary: #2dd4bf;
        --secondary-hover: #14b8a6;
        --secondary-foreground:  #fafafa;
        --danger: #991b1b;
        --danger-hover: #7f1d1d;
        --danger-foreground: #e5e7eb;
        --accent: #040C1A;
        --accent-foreground: #9aa1ac;
        --muted: #1e2734;
        --muted-foreground: #9aa1ac;
        /*--accent: 215 27.9% 16.9%;*/
        /*--accent-foreground: 210 20% 98%;*/
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
        margin: 0;
        padding: 0;
    }

    body {
        @apply bg-background text-foreground;
    }
}